<section class="details">
  <h2> User Details </h2>
  <div class="container details-container">

      <div class="details-info">
        <h2> <%= userInfo.name %> </h2>
        <p> <%= userInfo.weight %> </p>
        <p> <%= userInfo.age %> </p>
        <p> <%= userInfo.gender %> </p>
        <p> <%= userInfo.activityLevel %> </p>
        <p> <%= userInfo.goal %> </p>
      </div>

  </div>

</section>
